<h1>Info about ...</h1>
<h2><%="Person: #{@person.full_name}"%></h2>
<%= @phone.display_text %>
<%= link_to("[edit]",edit_person_phone_path(@person,@phone), method: :get) %>
<%= link_to("[delete]",person_phone_path(@person,@phone), method: :delete, data: { confirm: 'Are you sure?' }) %>
<h4>
  <div class="button_actions"><%= link_to("This person phones",person_phones_path(@person)) %></div>
</h4>
