<h2>Emails for <%=link_to(@person.full_name,person_path(@person))%></h1>
<% if !@emails.empty? %>
  <ul>
    <% @emails.each do |e| %>
      <li>
        <%= link_to(e.display_text,person_email_path(@person,e)) %>
        <%= link_to("[edit]",edit_person_email_path(@person,e), method: :get) %>
        <%= link_to("[delete]",person_email_path(@person,e), method: :delete, data: { confirm: 'Are you sure?' }) %>
        <% if e.comments.present? %>
        <pre><%= "Optional comment: #{e.comments}"%></pre>
        <% end %>
      </li>
    <%end%>
  </ul>
<%end%>
<h4>
  <div class="new_item button_actions"><%= link_to("New email",new_person_email_path) %></div>
</h4>
